header,
section,
footer {
  position: relative;
}

.w-lightbox-backdrop,
.w-lightbox-container {
  z-index: 9999;
}

.w-dyn-empty {
  display: none;
}

.nav_dropdown_content:empty {
  display: none !important;
}

.change-flow {
  animation: seamlessScroll 10s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes seamlessScroll {
  0%,
  18% {
    transform: translateY(0);
  }
  23%,
  41% {
    transform: translateY(-20%);
  }
  46%,
  64% {
    transform: translateY(-40%);
  }
  69%,
  87% {
    transform: translateY(-60%);
  }
  92%,
  100% {
    transform: translateY(-80%);
  }
}

.w-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.w-webflow-badge {
  display: None !important;
  visibility: hidden !important;
}

[css-hide-scrollbar]::-webkit-scrollbar {
  display: none;
}

[css-hide-scrollbar] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
  pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Snippet enables you to add class of div-square which creates and maintains a 1:1 dimension of a div.*/
.div-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/*Hide focus outline for main content element*/
main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* Make sure containers never lose their center alignment*/
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/*Reset selects, buttons, and links styles*/
.w-input,
.w-select,
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/*Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* Apply "..." at 100% width */
.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Removes native scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  overflow: -moz-scrollbars-none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

.nav_dropdown_link.w--current .nav_dropdown_icon_wrap .nav_dropdown_icon_svg {
  transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.w-lightbox-backdrop,
.w-lightbox-container {
  z-index: 9999;
}

.img-bg-swapcard-on {
  mix-blend-mode: multiply;
}

.img-badge {
  filter: drop-shadow(15.9948px 15.9948px 19.1937px rgba(38, 46, 61, 0.1));
}

.event_lightbox {
  filter: drop-shadow(10px 40px 44px rgba(2, 109, 104, 0.12));
}

.matchmaking-img.shadow-light-bg-medium {
  box-shadow: 20px 20px 24px rgba(172, 184, 205, 0.21);
}

.shadow-light-bg-medium {
  box-shadow: 20px 20px 24px rgba(172, 184, 205, 0.21);
}

.contact_header_img {
  filter: drop-shadow(-20px 40px 44px rgba(2, 109, 104, 0.22));
}

.event_feature_img.is-img-boost {
  box-shadow: -20px 20px 44px rgba(172, 184, 205, 0.15);
}

.event_cta_img_circle {
  filter: drop-shadow(20px 20px 24px rgba(38, 46, 61, 0.4));
}

.event_cta_img.is-virtual {
  box-shadow: -30px 40px 44px rgba(172, 184, 205, 0.2);
}

.event_header_img_virtual {
  filter: drop-shadow(10px 40px 44px rgba(2, 109, 104, 0.12));
}

.event_virtual_img-1 {
  box-shadow: 20px 20px 24px rgba(172, 184, 205, 0.21);
}

.event_virtual_img-2 {
  filter: drop-shadow(20px 20px 24px rgba(172, 184, 205, 0.21));
}

.error_img-cat {
  filter: drop-shadow(10px 40px 44px rgba(2, 109, 104, 0.12));
}

.data_safety_img-phone {
  box-shadow: 20px 20px 44px rgba(172, 184, 205, 0.15);
}

.event_header_img.is-partners {
  filter: drop-shadow(10px 40px 44px rgba(2, 109, 104, 0.12));
}

.img-thank-you-demo.is-signup {
  filter: drop-shadow(40px 40px 44px rgba(38, 46, 61, 0.7));
}

.w-richtext figure div {
  width: 100%;
}

.w-richtext figure.w-richtext-figure-type-image,
.w-richtext figure[data-rt-type="image"] {
  width: 100%;
}

.g2_img.is-small {
  filter: drop-shadow(6px 6px 10px rgba(172, 184, 205, 0.25));
}

.text-input-price {
  height: fit-content;
}

.header-comfortable .main-header {
  display: none;
}

.pricing_handle:focus-visible {
  outline: #03ab81 auto 1px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  border-color: transparent;
  background-image: none;
}

.hs-form-a9d172ef-105f-42cf-a4aa-b3b83b84c719_ccb1a394-d0ea-4f8a-9124-27c506a5bc0d
  fieldset {
  max-width: none !important;
}

.features_dropdown_icon {
  transition: transform 0.3s ease;
}

.features_dropdown_toggle.w--open .features_dropdown_icon {
  transform: rotate(-180deg);
}
